.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  gap: 7px;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  background-color: #212121;
  color: #fcf5e5;
  width: 149px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  gap: 8px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center; /* To center i put align item center in the profile column in the media query */
  }

  .profile__edit-btn {
    margin: 0; /* It seems  that 20 px from profile column and 20 px from edit btn gives me 40px and so i have erased one margin to get 20px  */
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
